fastapi
fastapi_filter
uvicorn
pyodbc
pydantic
pydantic-settings
SQLAlchemy
sqlalchemy-utils
dependency-injector
dependency-injector[yaml]
alembic
httpx
pyyaml
requests
pytest
pytest-cov
pytest-order
pytest-html
pytest-reportlog
python-multipart
